# Git
.git/

# Local history (VSCode extension)
.history/

# NodeJS
node_modules/
npm_cache/

# release-it config file
!.release-it.js

# Elixir
_build/
cover/
deps/
doc/
.fetch/

# ElixirLS (VSCode extension)
.elixir_ls/

# Dialyzer
dialyzer/plts/
