# Local history (VSCode extension)
.history/

# NodeJS
node_modules/
npm_cache/

# Docker compose
docker-compose.override.yml

# Elixir
_build/
cover/
deps/
doc/
.fetch/
erl_crash.dump
*.ez
*.beam
config/*.secret.exs

# ElixirLS (VSCode extension)
.elixir_ls/

# Dialyzer
**/priv/plts/*.plt
**/priv/plts/*.plt.hash

# Sobelow
.sobelow

# Keep .gitkeep files
!/**/.gitkeep
