# Local history (VSCode extension)
.history/

# NodeJS
node_modules/
npm_cache/

# Docker compose
docker-compose.override.yml

# Cache for lints and formatters
.cspellcache
.eslintcache
.prettier-cache
.stylelintcache

# Elixir
_build/
cover/
deps/
doc/
.fetch/
erl_crash.dump
*.ez
*.beam
config/*.secret.exs

# ElixirLS (VSCode extension)
.elixir_ls/

# Dialyzer
dialyzer/plts/

# Sobelow
.sobelow

# Keep .gitkeep files
!/**/.gitkeep

# Generated temporary files
*.tmp
