# Git
.git/

# Local history (VSCode extension)
.history/

# NodeJS
node_modules/
npm_cache/

# Cache for lints and formatters
.cspellcache
.eslintcache
.prettier-cache
.stylelintcache

# Text is generated automatically.
# Also, as the file grows, it will take longer to lint and format.
CHANGELOG.md

# Elixir
_build/
cover/
deps/
doc/
.fetch/

# ElixirLS (VSCode extension)
.elixir_ls/

# Dialyzer
dialyzer/plts/
