vendor/

# VSCode
.history/

# NodeJS
node_modules/
npm_cache/

# Elixir
_build/
cover/
deps/
doc/
.fetch/

# ElixirLS VSCode extension
.elixir_ls/

# see ./docs/setup.md in "Known issues" section
*.eex
*.leex
