# Git
.git/

# Local history (VSCode extension)
.history/

# NodeJS
node_modules/
npm_cache/

# Cache for lints
.eslintcache
.stylelintcache
.cspellcache

# Text is generated automatically.
# Also, as the file grows, it will take longer to lint and format.
CHANGELOG.md

# Elixir
_build/
cover/
deps/
doc/
.fetch/

# ElixirLS (VSCode extension)
.elixir_ls/

# Dialyzer
dialyzer/plts/

# see ./docs/setup.md in "Known issues" section
*.eex
*.leex
